{% extends 'base.html' %}
{% from 'nodes.html' import list_nodes %}
{% block title %}Chef environment: {{ environment.name }}{% endblock %}
{% block header %}{{ environment.name }} <small>{{ environment.description }}</small>{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-6">
    <h3>Nodes</h3>
    {{ list_nodes(nodes, False) }}
  </div>

  <div class="col-md-6">
    <h3>Cookbook versions</h3>
    <ul>
    {% for cookbook, version in environment.cookbook_versions.items() %}
      <li>
        <code>{{ cookbook }}</code> <code>{{ version }}</code>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
