{% extends 'base.html' %}
{% from 'nodes.html' import list_nodes %}
{% block title %}Chef role: {{ role.name }}{% endblock %}
{% block header %}{{ role.name }} <small>{{ role.description }}</small>{% endblock %}
{% block breadcrumbs %}
  {{ super() }}
  <li><a href="{{ url_for('ui.roles') }}">Chef roles</a></li>
  <li class="active">{{ role.name }}</li>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-6">
    <h3>Nodes <small>{{ g.chef_environment }}</small></h3>
    {{ list_nodes(nodes, False) }}
  </div>

  <div class="col-md-6">
    <h3>Run list</h3>
    {% if role.env_run_lists %}
    <p class="text-warning">This role uses environment run lists.</p>
    {% endif %}
    <ul>
    {% for item in role.run_list %}
      <li>
        <code>{{ item }}</code>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
