{% macro list_nodes(nodes) -%}
  <ul>
  {% for node in nodes | sort %}
    <li>
      <a href="{{ url_for('.node', environment=node['chef_environment'], node=node['name']) }}">
        <code>{{ node['name'] }}</code>
      </a>
    </li>
  {% endfor %}
  </ul>
{%- endmacro %}

{# Only lists nodes by environment when g.chef_environment is '*' #}
{% macro list_nodes_by_environment(nodes) -%}
  <div class="nodes">
  {% if g.chef_environment == '*' %}
    {% for group in nodes | groupby('chef_environment') %}
      <h4><a class="environment" href="{{ url_for(request.endpoint, environment=group.grouper, **request.view_args) }}">{{ group.grouper }}</a></h3>
      {{ list_nodes(group.list) }}
    {% endfor %}
  {% else %}
    {{ list_nodes(nodes) }}
  {% endif %}
  </div>
{%- endmacro %}
