{% extends 'base.html' %}
{% from 'nodes/macros.html' import list_nodes, list_nodes_by_environment %}
{% block title %}{{ name }} - {{ type }} package{% endblock %}
{% block header -%}
  {{ name }} <small><a href="{{ url_for('.cookbook') }}">{{ type }} cookbook</a></small>
{%- endblock %}
{% block body %}
<div class="row">
  <div class="col-md-12">
      <h3>Available versions</h3>
  {% if cookbooks %}
    <ul>
    {% for c in cookbooks %}
      <li>
          {{ c.version }}
          {% if c.version == lock %}
            (Locked)
          {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p class="text-danger">No cookbook versions to display.</p>
  {% endif %}
  </div>
</div>
{% endblock %}
